/*NEW COLL BUTTON*/
.fbmessenger{
  position:fixed;
  bottom: 70px;
  right:10px;
  z-index:15;
}

#top{
    bottom: 10px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 10px;
    z-index: 1111;
}

#top>img{
    width: 50px;
}

.fbmessenger img{
  width:50px;
 filter: drop-shadow(2px 6px 4px rgba(0,0,0,.3));
-webkit-filter: drop-shadow(2px 6px 4px rgba(0,0,0,.3));


}

/*.tooltiptext {*/
    /*width: 120px;*/
    /*background-color: white;*/
    /*color:#2c2c2c; ;*/
    /*text-align: center;*/
    /*padding: 5px 0;*/
    /*border:1px solid #eeeeee;*/
    /*border-radius: 6px;*/
    /*position: fixed;*/
    /*bottom:130px;*/
	/*right:100px;*/
  /*!*font-family:'abel';*!*/
  /*text-transform:uppercase;*/
 /*filter: drop-shadow(2px 6px 4px rgba(0,0,0,.3));*/
/*-webkit-filter: drop-shadow(2px 6px 4px rgba(0,0,0,.3));*/

/*}*/

/*.tooltiptext:after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 100%;*/
    /*margin-top: -5px;*/
    /*border-width: 5px;*/
    /*border-style: solid;*/
    /*border-color: transparent transparent transparent #eeeeee;*/
/*}*/
.call-mt{
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 70px;
    background:#58cfff;
    border-top-right-radius: 15px;
    padding-left: 20px;
    padding-top: 10px;
    color: white;
}

.panel_call {
    width:235px;
    height:75px;
    border-radius: 10px;
    display:none;
    background:#58cfff;
  bottom:40px;
  right:10px;
  position:fixed;
  text-decoration:none;

}
.panel_call p {
  margin:auto;

  color:white;
}
.info_call {
  margin-top: 10px;
  margin-left: 10px;
}
.info-call {
  font-size: 200%;
  margin-top: -20px;
}

.info_call_number {
  margin-top: -10px;
  font-size: 120%;
}

#popup__toggle{
    z-index: 999;
      bottom:35px;
      left: 170px;
      position:fixed;
. }
.img-circle{background-color: #58cfff;
  box-sizing:content-box;
  -webkit-box-sizing:content-box;}
.circlephone{box-sizing:content-box;
  -webkit-box-sizing:content-box;
  border: 2px solid #58cfff;
  width:150px;
  height:150px;
  bottom:-25px;right:10px;
  position:absolute;
  -webkit-border-radius:100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  opacity: .5;
  -webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
  -moz-animation: circle-anim 2.4s infinite ease-in-out !important;
  -ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;
  animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;transition: all 0.5s;}
.circle-fill{box-sizing:content-box;
  -webkit-box-sizing:content-box;
  background-color: #58cfff;
  width:100px;height:100px;bottom:0px;right:35px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;bottom: 14px;right: 49px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
.img-circleblock{
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
    width:72px;height:72px;
    background: url(http://lutrail.com/fr/wp-content/uploads/2017/03/call_us_icon.png) no-repeat center center;
    background-size: cover;
    animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.img-circle:hover{opacity: 1;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
  50% {transform: scale(1); opacity: 1; }
  100% {transform: scale(0.9);opacity: 1;}}
 @-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
  50% {-webkit-transform: scale(1);opacity: 1;}
  100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
  0% {-webkit-transform: rotate(-8deg);}
  50% {-webkit-transform: rotate(8deg);}
  100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
  0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
  30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
  100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
  30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
  100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
  0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
  30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
  100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
  0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
  30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
  100% {transform: rotate(0deg) scale(1) skew(1deg);
opacity: .1;}}
@-moz-keyframes circle-fill-anim {
  0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
  100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
  50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
  100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
  0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
  0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
/*NEW COLL BUTTON*/

.modal-dialog{
    margin-top: 20%;
}

.modal-header{
    border-bottom: 1px solid #ffffff;
    padding-bottom: 0px;
}

.modal-body{
    padding-top: 0px;
}

.jivo-state-widget{
    right: 70px !important;
}

.phone-nb-in{
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    -webkit-border-radius: 0px;
    border-radius: 10px;
    color: #888;
    outline: none;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 10px 15px;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    display: inline-block;
}

.modal-dialog{
    margin-top: 20%;
}

.modal-header{
    border-bottom: 1px solid #ffffff;
    padding-bottom: 0px;
}

.modal-body{
    padding-top: 0px;
}

.jivo-state-widget{
    right: 70px !important;
}

.phone-nb-in{
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    -webkit-border-radius: 0px;
    border-radius: 10px;
    color: #888;
    outline: none;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 10px 15px;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    display: inline-block;
}

.btn-subcat {
    background-color: #11afb0;;
    color: white;
    margin: 6px 10px 10px;
    padding: 8px !important;
    border-radius: 8px;
    font-size: 16px;
}

.img-cont-form{
  width: 100%;
  max-width: 200px;
}
.btn-subcat:hover, .btn-subcat:focus {
    background-color: #58cfff;
    color: white;
    font-weight:500;
}

.messeger{
    position: fixed;
    bottom: 80px;
    right: 10px;
    z-index: 5000;
}

.masseger-link{
    display: block;
    padding-top: 5px;
    z-index: 1100;
}

.masseger-link>img, .gen-mess>img{
    width: 50px;
     z-index: 1100;
}

.masseger-group{
    display: none;
}

#telegram, #viber, #whatsapp, #facebook{
    display: none;
}