@import url(https://fonts.googleapis.com/css?family=Gudea);
body{
    font-family: 'Gudea', Helvetica, sans-serif;
    color: #798e93;
    /*background: rgba(11, 255, 0, 0.04);*/
    position: relative;
    padding-bottom: 170px;
    margin: 0;

}


@media(max-width: 768px){
    body {
      font-family: 'Gudea', Helvetica, sans-serif;
      margin: 0;
      color: #798e93;
    padding-bottom: 220px;
}
}

h1, h2, h3, h4, p, span, a, label {
    font-weight: 300;
    color: #798e93;
}

.ml-20{
    margin-left: 20px;
}

.fa{
    padding-right: 10px;
}

@media (max-width: 1024px) {
    .phone-nav>i{
        display: none;
    }
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 0;
    padding: 0;
    padding-bottom: 20px;
    list-style: none;
    border-radius: 0px;
    background-image: linear-gradient(to bottom, rgba(121, 142, 147, 0.8) 0, rgba(121, 142, 147, 1) 100%);
}

footer h4{
    color: #ffffff;
}

footer ul{
    list-style: none;
    text-align: left;
    -webkit-padding-start: 5px;

}

.foter-adr{
    margin-top: 30px;
}

.icon{
    margin-right: 10px;
}

.foot-art{
    margin-top: 4px;
    margin-bottom: 4px;
    border-bottom: 1px solid rgba(177, 177, 177, 0.2);
}

@media (min-width: 767px) {
    .foot-menu {
        margin-right: 20px;
    }
}

/*Form Style   ||-----------*/

.contact-form {
    margin-top: 20px;
}

button {
    outline: none;
    border: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    display: inline-block;
}

button, input, textarea, select {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, input[type="password"]:focus, textarea:focus {
    border-color:  #798e93;
    color: #323232;
}

input, textarea, select {
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

input.input-sm, .input-sm {
    padding: 8px 15px;
}

textarea {
    height: 120px;
}


.form-full {
    width: 100% !important;
}

.form-field-wrapper {
    margin-bottom: 20px;
}

.form-field-wrapper input, .form-field-wrapper textarea, .form-field-wrapper select {
    margin-bottom: 0px;
}

form .error {
    border-color: #e1534f;
}

form label.error {
    margin-bottom: 0px;
    margin-top: 3px;
    color: #e1534f;
    font-size: 12px;
    font-weight: 400;
}

.successContent, .errorContent {
    margin-bottom: 20px;
    display: none;
    text-transform: none;
    letter-spacing: 1px;
}

.btn-send {
    color: white;
    background-image: linear-gradient(to bottom,#150669 0,#5C00CC 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
}

.btn-send:active{
    background-image: linear-gradient(to bottom,#5C00CC 0,#150669 100%);
}

/*form*/


.mt-20{
    margin-top: 20px;
}

.mt-10{
    margin-top: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mt-40{
    margin-top: 40px;
}

.btn-contact{
    text-align: center;
    display: block;
    background: rgba(121, 142, 147, 0.06);
    border: solid rgba(121, 142, 147, 0.98) 1px;
    border-radius: 3px;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.navbar-brand{
    margin-left: 40px !important;
}

.navbar-toggle{
    border-color: rgba(255, 255, 255, 0);
}

/*NAV BAR*/

.top-mob{
    background: #798e93;
}


.menu{
    padding: 5px;
    /*background: rgba(0, 132, 206, 0.81);*/

     background-image: linear-gradient(to bottom, rgba(121, 142, 147, 0.8) 0, rgba(121, 142, 147, 1) 100%);
    /*border: 1px solid rgba(8, 100, 255, 0.5);*/
}


.img-top-ar{
    width: 40px;
}

.lang-change{
    margin-left: 5px;
    display: inline-block;
    color: white;
    font-size: 16px;
}

.lang-change:hover, .lang-change:focus, .lang-change:active{
    color: white;
    font-weight: 600;
}

.grey-bg{
    background: rgba(121, 142, 147, 0.8) !important;
}

.grey-bdr{
    border-color: rgba(121, 142, 147, 0) !important;
}

.grey-bdr:hover, .grey-bdr:focus, .grey-bdr:active{
    
}


@media (min-width: 768px) {
    .navbar-brand{
        padding-top: 5px;
        padding-bottom: 5px;
        height: 50px;
    }
    .img-log{
        height: 60px;
    }
}

@media (max-width: 768px) {
    .navbar-brand{
        padding-top: 5px;
        padding-bottom: 5px;
        height: 40px;
    }
    .img-log{
        height: 40px;
    }
}

.top-nav>a{
    font-size: 14px;
}

.phone-nav{
    cursor: pointer;
    font-size: 16px;
    color: white;
    text-align: center;
    display: block;
    padding: 5px 0px !important;
}

.phone-nav:hover,
.phone-nav:focus, .phone-nav:active{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.fixed-menu-arr{
 background-image: linear-gradient(to bottom, rgba(121, 142, 147, 0.8) 0, rgba(121, 142, 147, 1) 100%);
    width: 100%;
    position: fixed;
    z-index: 999;
}

@media (max-width: 768px){
    .fixed-menu{
        top: 42px;
    }
}

.fixed-menu{
    background-image: linear-gradient(to bottom, rgba(121, 142, 147, 0.8) 0, rgba(121, 142, 147, 1) 100%);
    width: 100%;
    position: fixed;
    z-index: 999;

}

.arrow-menu{
    background-image: linear-gradient(to bottom, rgba(121, 142, 147, 0.8) 0, rgba(121, 142, 147, 1) 100%);
    border: 1px solid rgba(121, 142, 147, 1);
}


.navbar-brand{
    padding: 1px;
}

.navbar-brand>img{
    max-height: 100%;
}

.navbar{
    border-radius: 0px;
    border: 0px white;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 1);*/
    margin-bottom: 0px;
}

.navbar-collapse {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.navbar-nav{
    font-size: 18px;
}

@media (max-width: 768px){
    .fixed-menu{
        top: 40px;
    }
}

.fixed-menu-arr{
    width: 100%;
    position: fixed;
    z-index: 999;
}

.fixed-menu{
    width: 100%;
    position: fixed;
    z-index: 999;
}


.phone-nav{
    cursor: pointer;
    font-size: 16px;
    color: white;
    text-align: center;
    display: block;
    padding: 5px 0px !important;
}


.navbar-custom{
    z-index: 10000;
    box-shadow: 0 0 0px rgba(0, 0, 0, 1);
     /*background-image: linear-gradient(to bottom, rgba(91, 192, 222, 0.1) 0,rgba(91, 192, 222, 0.45) 100%);*/
}

.navbar {
    border-radius: 0px;
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(121, 142, 147, 0.8);
    /*box-shadow: black inset 10px 10px 10px 10px;*/
}


@media (max-width:  768px) {
    .nav-but {
        float: none;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        line-height: 0px;
        color: rgba(93, 93, 93, 0.72);
        font-size: 16px;
    }
}

@media (width:  768px) {
    .navbar-nav{
        margin-left: 2%;
    }
    .nav-but {
        float: none;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        /*display: block;*/
        line-height: 0px;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        color: rgba(93, 93, 93, 0.72);
        font-size: 16px;
        /*border-bottom: 2px solid rgba(16, 119, 0, 0);*/
    }
}

.nav-but:hover, .

@media (min-width: 770px) {

.navbar-nav{
    margin-left: 20%;
}
    .nav-but {
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        display: block;
        line-height: 0px;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        color: rgba(93, 93, 93, 0.72);
        font-size: 16px;
        /*border-bottom: 2px solid rgba(16, 119, 0, 0);*/
    }

}


.magic-line{
    margin-top: 18px;
    width: 0;
    background: rgba(121, 142, 147, 0.8);
    height: 2px;
}

.nav-but:hover, .nav-but:focus, .nav-but:active{
    background-color: rgba(255, 255, 255, 0)!important;
    /*border-bottom: 2px solid rgba(16, 119, 0, 0.26);*/
    color: rgba(121, 142, 147, 0.8) !important;
    /*background-image: linear-gradient(to bottom,rgba(66, 141, 206, 0) 0,rgba(91, 192, 222, 0.31) 100%);*/
}


/*NAV BAR*/


::-moz-selection {
    background-color: rgba(214, 212, 208, 0.8);
    color: #ffffff;
}

::selection {
    background-color: rgba(214, 212, 208, 0.8);
    color: #ffffff;
}

a{
    color: #5b5f5e;
}

a:hover, a:focus{
    text-decoration: none;
    color: #798e93;
}

/**!!!! SLider*/

.item>img{
    width: 100%;
}

.carousel-control.left{
    background: none;
}
.carousel-control.right{
    background: none;
}

.carousel-control{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    text-align: center;
    opacity: 1;
    text-shadow: none;
}
.carousel-indicators{
    /*bottom: -40px;*/
}
.carousel-indicators li{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #798e93;
    border-radius: 50%;
}
.carousel-indicators .active{
    width: 17px;
    height: 17px;
    margin: 0;
    background-color: #798e93;
}
.carousel-caption{
    position: absolute;
    right: 0;
    bottom: 40%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    color: black;
}
.carousel-caption>h3{
    font-size: 40px;
}
.corusel-header{
    padding: 5px 0px;
}
.corusel-header>h3{
    font-size: 40px;
    color: #798e93;
}

.about{
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(121, 142, 147, 0.1);

    /*background:  rgba(8, 100, 255, 0.01);*/
}

.about>.row>h1{
    margin-top: 30px;
    margin-bottom: 10px;
    /*color: #313131;*/
    letter-spacing: 2px;
    color: #798e93;
}

.about-cont{
    margin-top: 10px;
    font-size: 19px;
    font-weight: 300;
    line-height: 30px;
    color: #798e93;
    padding-bottom: 20px;
}

@media(max-width: 768px){
    .about-cont>span{
        font-size: 14px;
    }
}

.img-item-gen{
    max-height: 120px;
}

@media (min-width:700px) {

.img-cont {
    border: 1px solid #798e93;
    border-radius: 7px;
    }
}

.main-item:hover, .main-item:focus{
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.main-item{
    margin-top: 2%;
    padding: 10px;
    border: 1px solid #798e93;
    border-radius: 10px;
}

.container-item>h4{
    margin-left: 3%;
}

.btn-learn{
    border: 1px solid rgba(121, 142, 147, 0.4);
    border-radius: 2px;
    padding: 5px 30px;
    color: rgba(121, 142, 147, 0.9);
    font-weight: 300;
}

.btn-learn:hover{
    color: white;
    background: rgba(121, 142, 147, 0.7);
}

.filter{
    position: fixed;
    top: 300px
}

/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {
  cursor: pointer;
    font-weight: 400;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 40px;
  height: 16px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s;/* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
  background: #798e93;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
  left: 26px;
}
/* Показываем получение фокуса. */

.fx{
    position: fixed;
}

#label{
    display: none;
}

.img-resp{
    max-width: 100%;
}

.img-cont-prod{
    border-radius: 2px;
    padding: 10px;
}

.prod-tab{
    width: 50%;
}

.nav-tabs>li>a{
    margin: 0px;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li>a:active{
    background: transparent;
}


.tab-pane{
    padding: 5%;
}

.mt-120{
    margin-top: 11%;
}

#article{
    margin-top: 40px;
    border-top: 2px solid rgba(121, 142, 147, 0.1);
    border-bottom: 2px solid rgba(121, 142, 147, 0.1);
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.prod-item{
    padding: 5px !important;
}



._4-u2 {
    border-color: red red red;
    border-radius: 3px;
}

/*Product iter*/
.thumbnail .caption{
    color: #5b5f5e !important;
}

.main-prod-img{
    width: 100%;
}

.thumbnail{
    padding: 15px !important;
    background: white;
    border-radius: 1px;
    border: 1px solid rgba(121, 142, 147, 0.2);
    margin-bottom: 0px;
}

.prod-def{
    min-height: 120px;
}

/*Product iter*/

/*Form Style   */

.contact-form {
    margin-top: 20px;
}

button {
    outline: none;
    border: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    display: inline-block;
}

button, input, textarea, select {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="radio"], input[type="checkbox"], textarea, select {
    -webkit-appearance: none;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    color: #888;
    outline: none;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 10px 15px;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    display: inline-block;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, input[type="password"]:focus, textarea:focus {
    border-color:  #798e93;
    color: #323232;
}

input, textarea, select {
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

input.input-sm, .input-sm {
    padding: 8px 15px;
}

textarea {
    height: 150px;
}

.form-full{
    width: 60%;
    border-radius: 5px;
}

.form-field-wrapper {
    margin-bottom: 20px;
}

.form-field-wrapper input, .form-field-wrapper textarea, .form-field-wrapper select {
    margin-bottom: 0px;
}

form .error {
    border-color: #e1534f;
}

form label.error {
    margin-bottom: 0px;
    margin-top: 3px;
    color: #e1534f;
    font-size: 12px;
    font-weight: 400;
}

.successContent, .errorContent {
    margin-bottom: 20px;
    display: none;
    text-transform: none;
    letter-spacing: 1px;
}

.contact-box-left, .contact-box-top {
    display: block;
    position: relative;
}

.contact-box-left {
    padding-left: 45px;
    text-align: left;
}

.contact-icon-left, .contact-icon-top {
    font-size: 30px;
    position: absolute;
}

.contact-icon-top {
    text-align: center;
}

.contact-icon-left {
    left: 0;
}

.btn-black {
    font-weight: 300;
    color: #fff;
    background: #798e93;
    border: none;
}

.btn-black:hover {
    color: #fff;
    /*background: #e6ae49;*/
    background: #119798;
}
/*Form*/

.main-down{
    display: none;
    border: 1px solid white;
    position: fixed;
    top: 10%;
    right: 0px;
    background: #798e93;
    color: white;
    /* внутренние отступы */
    padding: 0.5em;
    cursor: pointer;
    /* размер шрифта */
    font-size: 1.2em;
    line-height: 1;
    /* всегда поверх других элементов страницы */
    z-index: 1000;
    /* анимируем цвет текста при наведении */
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;

}

.main-down>a{
    color: white;
    /*padding-top: 10px;*/
    /*padding-left: 10px;*/
    display: block;
    /*padding-bottom: 10px;*/
    /*border-radius: 5px;*/
}

.main-down>a::after{
    content: "Каталог";
}

#contact{
    margin-top: 40px;
}

.category-head{
    color: #798e93;
}

/*Project item*/

.projects{
    margin-top: 30px;
    padding-bottom: 20px;
}

.item-project{
    border: 1px solid white;
    min-height: 320px;
    padding: 0px;
}

.item-pr-cont{
    color: white;
    position: absolute;
    top: 0; width: 100%;
    height: 30%;
    background: rgba(12,12,12, 0.3);
    transition: 1s;
}

.item-pr-cont>h3{
    color: white;
    font-size: 18px;
}


.item-project-a:hover .item-project{
    /*background-color: rgba(0,0,0,0.4) !important;*/
}

.item-project-a:hover .item-pr-cont{
    padding-top: 25%;
    height: 100%;
    transition: 1s;
}

.item-project-a:hover .magic-line, .item-project-a:focus .magic-line, .item-project-a:active .magic-line{
    background: white;
    margin-left: 25%;
    width: 50%;
    transition: 1s;
}

.item-project-a:hover .project-main-text, .item-project-a:focus .project-main-text, .item-project-a:active .project-main-text{
    display: block;
    text-align: center;
    transition: 1s;
}



.item-project-a{
    display: block;
}

.project-main-text{
    display: none;
    margin-top: 10px;
    font-size: 16px;
}

.project-but-block{
    margin-top: 7px;
}

.but-project{
    text-decoration: none;
    color: white;
    background: rgba(0, 132, 206, 0.8);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 10px;
    /*border: 1px solid green;*/
}

.but-project:hover, .but-project:focus, .but-project:active{
    text-decoration: none;
    color: white;
    background: rgba(0, 132, 206, 0.9);
}


/*Project item*/

.tag-list{
    border: solid rgba(121, 142, 147, 0.3) 1px;
    padding-left: 5px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 2px;
}

.tag-list:hover{
    color: #798e93;
}

.tag-list h4{
    text-align: center;
    color: #798e93;
}

.tag-list a{
    font-size: 18px;
    color: black;
}

.tag-list-a:hover, .tag-list-a:focus {
    color: #798e93;
    text-decoration: none;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}

.sub-category-a{
    border-bottom: rgba(121, 142, 147, 0.31) 1px;
    list-style-type: none;
    padding-top: 5px;
    padding-left: 13px;
    margin-right: 11px;
    padding-bottom: 5px;
    border-left: solid transparent 1px;
}

.sub-category-a-f{
    border-top: solid rgba(121, 142, 147, 0.3) 1px;
}

.sub-category-a:hover{
    padding-left: 10px;
    margin-right: 10px;
    color: #798e93;
    border-left: solid rgba(121, 142, 147, 0.3) 1px;
    transition: 1s;
}

/*@media (min-width: 768px) {*/
    /*.category-list{*/
        /*padding-top: 65px;*/
    /*}*/
/*}*/

.prod-item-name{
    font-size: 16px;
}