{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="apple-touch-startup-image" href="splash-screen.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/callform.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'pl/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'js/js.js' %}"></script>
    <script src="{% static 'js/mask.js' %}"></script>
</head>

<body>
<div class="visible-xs visible-sm top-mob">
    <div class="arrow-menu text-center">
        <img class="img-top-ar" src="{% static 'img/down-white.png' %}">
    </div>
</div>
<div class="menu visible-md visible-lg">
    <div class="container">
        <div class="row">
            {% for phone in phones %}
                <div class="col-md-3">
                    <a class="phone-nav" href="mailto:{{ phone.phone }}"><i class="fa fa-phone"></i>{{ phone.phone }}</a>
                </div>
            {% endfor %}
            {% for mail in email %}
                <div class="col-md-3">
                    <a class="phone-nav" href="tel:{{ mail.email }}"><i class="fa fa-envelope"></i>{{ mail.email }}</a>
                </div>
            {% endfor %}
    </div>
</div>
</div>
<nav id = "nav" class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button  class="navbar-toggle  grey-bdr" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="grey-bg icon-bar"></span>
                    <span class="grey-bg icon-bar"></span>
                    <span class="grey-bg icon-bar"></span>
                </button>
                <a id = "navbar_l" class="navbar-brand" href="{% url 'home' %}">
{#                    <img class="img-resp" src="{% static 'img/logo.png' %}"/>#}
                </a>
            </div>
            <nav  id="navbar" class="collapse navbar-collapse">
                <ul   class="nav navbar-nav navbar-right">
                      <li class=" text-center">
                          <a href="{% url 'home' %}" class="nav-but">Главная</a>
                      </li>
                      <li class="text-center">
                          <a href="{% url 'product_main' category_item.url_name subcategory_item.url_name  %}" class="go_to nav-but">Каталог</a>
                      </li>
                      <li class=" text-center">
                          <a href="#contact" class="go_to nav-but">Контакти</a>
                      </li>
                    <li >
                </ul>
            </nav><!--/.nav-collapse -->
        </div>
    </nav>
{% block content %}
{% endblock%}
<div class="botton " id="top"><img src="{% static 'img/icon-top.png' %}"/></div>
{% for file in main_file %}
<a class="botton" href="#" data-toggle="modal" data-target="#modalhome" id="popup__toggle">
<div class="call-mt visible-xs visible-sm">
    <i class="fa fa-phone fa-2x"></i>
</div>
</a>
<div class="main-down">
 <a class="text-center" download href="file:///{{ file.file }}" title="{{ file.head }}"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a>
</div>
{% endfor %}
<div class="log-in visible-lg visible-md">
<a class="botton" href="#" data-toggle="modal" data-target="#modalhome" id="popup__toggle">
    <div class="circlephone" style="transform-origin: center;"></div>
    <div class="circle-fill" style="transform-origin: center;"></div>
    <div class="img-circle" style="transform-origin: center;">
    <div class="img-circleblock" style="transform-origin: center;"></div></div>
</a>
</div>
<div class="modal fade" id="modalhome" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body row">
            <div class="col-lg-3 col-md-3 text-center">
                <img class="img-cont-form" src="{% static 'img/operator.png' %}"/>
            </div>
            <div class="col-lg-9 col-md-9">
                <h3 class="head-contact text-center mb-20">Мы, обязательно, Вам перезваоним</h3>
                <form name="feed" class="text-center contact-form" id="feed" role="form" method="POST">
                    {% csrf_token %}
                    <h6 class="successContent">
                        <i class="fa fa-check left" style="color: #5cb45d;"></i>Your message has been sent successfully.
                    </h6>
                    <h6 class="errorContent">
                        <i class="fa fa-exclamation-circle left" style="color: #e1534f;"></i>There was a problem validating the form please check!
                    </h6>
                    <div class="feed-field-wrapper hide">
                        <input class="input-sm form-full phone-nb-in " type="text" name="feed-link" value="{{ request.get_full_path }}" required>
                    </div>
{#                    <div class="col-lg-12 text-center" style="display: inline">#}
                    <input class="input-md phone-nb-in phone-check" type="text" name="feed-phone" placeholder="+380" required>
                    <button class="btn btn-subcat" type="submit" name="feed" id="cll">Заказать звонок</button>
{#                    </div>#}
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
{#<a class="fbmessenger" href="http://m.me/fiercelycurious" target="_blank" onclick="OpenInNewTab();"> <!-- m.me/facebookpage works for any facebook page -->#}
{#  <div class="fbmessenger">#}
{#  <img src="https://lh5.ggpht.com/0VYAvZLR9YhosF-thqm8xl8EWsCfrEY_uk2og2f59K8IOx5TfPsXjFVwxaHVnUbuEjc=w300" /> <!-- I host the file directly but I'm hotlinking from the Google Play store here for the png file -->#}
{#  </div>#}
{#</a>#}
<div class="container" id="contact">
                <h2 class="text-center">{{ contact.head }}</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center mt-20 mb-20">
                        <h3 class="call-back-text">{{ contact.text }}</h3>
                    </div>
                </div>
                <div class=""></div>
                <div class="row">
                    <div class="col-md-5 contact">
                        <div class="contact-box-left mb-45">
                            <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                            <h4 class="mt-20">Дополнительная информация</h4>
                            <p class="mt-20">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>  {{ contact.address_1 }}
                            </p>
                            <p class="ml-20">
                                {{ contact.schedule_1 }}
                            </p>
                            <p class="mt-20">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>  {{ contact.address_2 }}
                            </p>
                            <p class="ml-20">
                                {{ contact.schedule_2 }}
                            </p>
                            <h4 class="mt-20">Телефоны</h4>
                                <p class="mt-20 ml-20">
                                    <a title="{{ contact.phone_1 }}"><i class="fa fa-phone " aria-hidden="true"></i> +38 093 447 88 58</a>
                                </p>
                                <p class="ml-20">
                                    <a title="{{ contact.phone_2 }}"><i class="fa fa-phone " aria-hidden="true"></i> +38 094 945 81 45</a>
                                </p>
                                <p class="ml-20">
                                    <a title="{{ contact.phone_4 }}"><i class="fa fa-phone " aria-hidden="true"></i>+38 048 789 21 45</a>
                                </p>
                                  <p class="ml-20">
                                    <a title="{{ contact.phone_4 }}"><i class="fa fa-envelope"></i>teemophey@gmail.com</a>
                                </p>

                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <!-- Contact FORM -->
                        <form name="massage-form" class="contact-form" id="contact" role="form" method="POST">
                                {% csrf_token %}
                            <!-- IF MAIL SENT SUCCESSFULLY -->
                            <h6 class="successContent">
                                <i class="fa fa-check left" style="color: #5cb45d;"></i>Your message has been sent successfully.
                            </h6>
                            <!-- END IF MAIL SENT SUCCESSFULLY -->
                            <!-- MAIL SENDING UNSUCCESSFULL -->
                            <h6 class="errorContent">
                                <i class="fa fa-exclamation-circle left" style="color: #e1534f;"></i>There was a problem validating the form please check!
                            </h6>
                            <!-- END MAIL SENDING UNSUCCESSFULL -->
                            <!-- IF MAIL SENT SUCCESSFULLY -->
                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-name" type="text" name="form-name" placeholder="Ваше Имя" required>
                            </div>
                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-email" type="email" name="form-email" placeholder="Ваш Email" required>
                            </div>
                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-subject" type="text" name="form-subject" placeholder="Тема письма">
                            </div>
                            <div class="form-field-wrapper">
                                <textarea class="form-full" id="form-message" rows="7" name="form-message" placeholder="Напишите нам"></textarea>
                            </div>
                            <button  class="btn btn-md btn-black form-full" type="submit" id="form-submit" name="submit">Отправить сообщение</button>
                        </form>
                        <!-- END Contact FORM -->
                    </div>
                </div>
            </div>
<footer>
    <div class="container">
        <div class="row foter-adr">
            {% for mail in email %}
                <div class="col-md-3">
                    <a class="phone-nav" href="mailto:{{ mail.email }}"><i class="fa fa-envelope"></i>{{ mail.email }}</a>
                </div>
            {% endfor %}
            {% for phone in phones %}
                <div class="col-md-3">
                    <a class="phone-nav" href="tel:{{ phone.phone }}"><i class="fa fa-phone"></i>{{ phone.phone }}</a>
                </div>
            {% endfor %}
{#            <div class="col-lg-offset-2 col-lg-8 mb-20">#}
{#                <div class="col-lg-3"><a class="" href="">0931881818</a></div>#}
{#                <div class="col-lg-3"><a href="">0931881818</a></div>#}
{#                <div class="col-lg-3"><a href="">0931881818</a></div>#}
{#		        <div class="col-lg-3"><a href="">0931881818</a></div>#}
{#            </div>#}
         </div>
    </div>
</footer>
<script>
$('#contact').submit(function (e) {
             console.log('aa');
            e.preventDefault();
            console.log(window.location.href);
            $.ajax({
                url: '/massgen/',
                type: 'POST',
                data: $('#contact').serialize(),
                success: function (data) {
                    var html = "";
                    $('.call-back-text').empty();
                    $('.call-back-text').css({"background": "rgba(8, 100, 255, 0.6)",'color': 'white'});
                    $.each(data, function (index, data){
                        html += data.text_data;
                    });
                    $('.call-back-text').append(html);
                }
            });
    });
</script>
</body>
</html>