{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="{% static 'img/tut_sale.jpg' %}" alt="Chania">
            <!--<div class="carousel-caption">
                <div class="corusel-header">
                    <h3>Header of Slide 1</h3>
                </div>
                <p>Details of Slide 1. Lorem Ipsum Blah Blah Blah....</p>
            </div>-->
        </div>
        <div class="item">
            <img src="{% static 'img/tut_sale.jpg' %}" alt="Chania">
            <!--<div class="carousel-caption">
                <div class="corusel-header">
                    <h3>Header of Slide 1</h3>
                </div>
                <p>Details of Slide 1. Lorem Ipsum Blah Blah Blah....</p>
            </div>-->
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="sr-only">Next</span>
    </a>
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
</div>
<script>
  function OpenInNewTab() {
    var screenwidth = screen.width-500;
    window.open("http://m.me//maxim.kaliberda.5", '_blank',"width=700,height=800,left="+screenwidth);
  }
</script>
    {% if about %}
    <div class="container about">
        <div class="row">
            <h1 class="text-center">{{ about.head }}</h1>
            <div class="text-center mt-20 col-md-12">
                <div class="about-cont text-center">
                    <span>{{ about.text|safe }}</span>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

                {% for category in category %}
                        <div class="container ">
            <div class="row">
                    <h2 class="text-center mb-20 mt-20 category-head">{{ category.head }}</h2>
                    {% for subcategory in subcategories %}
                         {% if category.id == subcategory.category.id %}
                        <a href="{% url 'product_main' category.url_name subcategory.url_name %}" class="item-project-a" title="{{ subcategory.head }}">
                            <div class="item-project col-md-4" style="background: url({% static 'img/mukosat.jpg' %}) center/cover no-repeat">
                              <div class="item-pr-cont">
                                  <h3 class="text-center">{{ subcategory.head }}</h3>
                                  <div class="magic-line"></div>
                                  <div class="project-main-text">
                                      Подробнее
                                  </div>
                              </div>
                            </div>
                        </a>
                        {% endif %}
                    {% endfor %}
                    </div>
        </div>
                {% endfor %}

{% endblock %}
