{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id="prod" class="container mt-40 mb-20">
    <div class="row">
        <div class="col-md-4 category-list">
            <h3 class="mt-10 mb-20 text-center">Категории</h3>
             {% for cat in category_list %}
                    <div class="tag-list dropdown" data-toggle="collapse" data-target="#{{ forloop.counter }}">
                        <div class="btn-tag">
                            <h4>{{ cat.head }}</h4>
                        </div>
                        <ul id="{{ forloop.counter }}" class="collapse">
                            {% for sub in subcategories_list %}
                                {% if sub.category.url_name == cat.url_name %}
                                <li class="sub-category-a">
                                    <a href="{% url 'product_main' cat.url_name sub.url_name %}" title="{{ sub.head }}" class = "tag-list-a">
{#                                        <img  style="max-height: 30px; margin-left: -5px; margin-right: 10px" src=""/>#}
                                        <span style="padding-top:2px; font-size: 15px"> {{ sub.head }}</span>
                                    </a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-8">
            <h3 class="mt-10 mb-20 text-center">{{ subcategory.head }}</h3>
            {% for prod in product %}
                  <div class="col-sm-6 col-md-4 prod-item">
                        <div class="thumbnail">
                              <a {% if prod.product.url_name %} href="{% url 'product' prod.product.url_name prod.product.id %}" title="{{ sub.head }}" title="{{ prod.product.model }}" {% endif %}>
                                  <img class="main-prod-img" {% if prod.img %} src="{{ prod.img.url }}" {% else %} src="{% static 'img/mukosat.jpg' %}"  {% endif %} alt="{{ prod.product.head }}" >
                              </a>
                              <div class="caption text-center">
                                <h3 class="mt-10 prod-item-name">{{ prod.product.model }}</h3>
                                <div  class="prod-def">{{ prod.product.main_content|safe|truncatechars_html:80 }}</div>
                                <a {% if prod.product.url_name %} href="{% url 'product' prod.product.url_name prod.product.id %}" title="{{ prod.product.model }} {% endif %}" class="mb-20 btn-learn btn">Подробнее</a>
                              </div>
                        </div>
                  </div>
            {% endfor %}
        </div>
        </div>
    </div>
</div>
{% endblock %}
