{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container mt-20 mb-20">
    <div class="col-md-9 col-md-offset-2">
        <a href="{% url 'product_main' product_item.category.url_name product_item.subcategory.url_name %}" >{{ product_item.category.head }}</a> / <a href="{% url 'product_main' product_item.category.url_name product_item.subcategory.url_name %}">{{ product_item.subcategory.head }}</a> /
        <a {% if product_item.url_name %} href="{% url 'product' product_item.url_name product_item.id %}" {% endif %}>{{ product_item.model }}</a>
    </div>
</div>
<div id="prod" class="container mt-20 mb-20">
    <div id="products" class="col-md-10 col-md-offset-1">
        <div class="mt-10 col-md-8">
            <h3 class="text-center mt-20">{{ product_item.model }}</h3>
            <ul class="nav nav-tabs mt-20 text-center" role="tablist">
                <li class="prod-tab active" role="presentation">
                    <a href="#main" aria-controls="main" role="tab" data-toggle="tab">
                        Описание
                    </a>
                </li>
                <!--<li role="presentation"  class="prod-tab"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Оплата/Доставка</a></li>-->
                <li class="prod-tab" role="presentation">
                    <a href="#pay" aria-controls="pay" role="tab" data-toggle="tab">
                        Оплата/Доставка
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="mt-20 tab-pane active" id="main">
                    <p class="text-justify">{{ product_item.content|safe }}</p>
                </div>
                <div role="tabpanel" class="mt-20 tab-pane" id="pay">
                    <p>
                        Отправляем всеми курьерскими службами Украины, Доставка согласно цен курьерских служб, возможна продажа через сервиc Ebay для международных покупателей
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-120 mb-20">
            {% if img %}
                {% for img in img %}
                    <div class="mt-10 img-cont-prod text-center">
                        <img class="img-resp" {% if img.img %} src="{{ img.img.url }}" {% else %} src="{% static 'img/mukosat.jpg' %}"  {% endif %} alt="{{ prod.product.head }}" >
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {

              $('#label').fadeIn();

  });
</script>
{% endblock %}
